.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-wrapper {
  max-width: 90%;
  margin: auto;
}

.label {
  background-color: #283d40;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 58px;
  left: 90%;
  margin: 1rem 0;
}

.label .ball {
  background-color: rgb(235, 235, 235);
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 3px;
  height: 27px;
  width: 27px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(34px);
}

.fa-moon {
  color: $secondary-color;
}

.fa-sun {
  color: #ffb032;
}

@media (max-width: 767px) {
  .checkbox-wrapper {
    display: none;
  }
}
